@model KupacWebApp.Models.DekoracijaViewModel

<tr id="red @Model.RedniBroj">
    <td>@Model.Naziv </td>
    <td>@Model.Boja</td>
    <td><input id="brCvetova @Model.RedniBroj" type="number" min="0" value="@Model.BrojCvetova" name="Dekoracije[@Model.RedniBroj].BrojCvetova" /></td>
    <td> <button id="ukbtn @Model.RedniBroj" class="ukloniCvet btn btn-primary btn-outline-dark" value="@Model.RedniBroj" type="button" onclick="ukloniRed(this.value)">Ukloni</button> </td>

    <td><input id="cvetId @Model.RedniBroj" hidden value="@Model.CvetProizvodId" name="Dekoracije[@Model.RedniBroj].CvetProizvodId" /></td>
    <td><input hidden value="@Model.RedniBroj" name="Dekoracije[@Model.RedniBroj].RedniBroj" /></td>
</tr>