@model PocetnaViewModel

<div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic; position: center; text-align: center; margin-top: 30px;">
    <div class="rounded-pill" style="font-size:large; background-color:#e27e7e; border-style:double;border-width:5px;border-color:dimgray">
        Motiv
    </div>
    <div class="rounded" style="font-size: medium; border-style: groove; background-repeat: repeat-x; background-image: url(../slike/pocetna2.jpg) ">
        @Model.Motiv
    </div>
</div>
<div style=" display: inline-flex;">
    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic; position: center; text-align: center; margin-top: 30px; margin-right: 20px; width: 50% ">
        <div class="rounded-pill" style="font-size:large; background-color:#e27e7e; border-style:double;border-width:5px;border-color:dimgray">
            Kupci su o nama rekli
        </div>
        <div class="rounded" style="font-size: medium; border-style: groove; background-repeat: repeat-x; background-image: url(../slike/okvir6.jpg) ">
            @Model.KupciRekli
        </div>
    </div>
    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic; position: center; text-align: center; margin-top: 30px;margin-left:20px; width:50%">
        <div class="rounded-pill" style="font-size:large; background-color:#e27e7e; border-style:double;border-width:5px;border-color:dimgray">
            Istorijat
        </div>
        <div class="rounded" style="font-size: medium; border-style: groove; background-repeat: repeat-x; background-image: url(../slike/okvir6.jpg) ">
            @Model.Istorijat
        </div>
    </div>
</div>
<div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic; position: center; text-align: center; margin-top: 30px;">
    <div class="rounded-circle" style="font-size:medium; background-color:#e27e7e; border-style:double;border-width:5px;border-color:dimgray">
        Kontakt
    </div>
    <div class="rounded">
        <pre class="font-weight-bold" style="overflow-y: hidden; height: 80px; font-size: initial; border-style: groove; background-repeat: repeat-x; background-image: url(../slike/pocetna2.jpg) ">
@Model.Kontakt[0]                                      @Model.Kontakt[1]
<a target="_blank" href="https://www.instagram.com/vencanjakazablanka/"><i class="fa-brands fa-square-instagram fa-2xl fa-beat" style="--fa-beat-scale: 1.5;"></i></a>      <a target="_blank" href="https://www.facebook.com/CvecaraKazablanka"> <i class="fa-brands fa-facebook fa-2xl fa-beat" style="--fa-beat-scale: 1.5;"></i></a>
        </pre>
    </div>
</div>
