@model IzmeniKupcaViewModel

<div class="rounded-pill" style=" width: 100%; position: center; text-align: center; margin-top: 6%; border-style: double; border-color: #761515; background-repeat: repeat-x; background-image: url(../slike/pozadina1.jpg) ">
    <form>

        <div class="form-group rounded-pill" style="position:center; margin-left:25%; width:50%; border-style:double; border-color:#761515; margin-top:10px; background-color:white">
            <label class="font-weight-bolder">Ime: @Model.Ime</label>
        </div>
        <div class="form-group rounded-pill" style="position: center; margin-left: 25%; width: 50%; border-style: double; border-color: #761515; margin-top: 5px; background-color: white ">
            <label class="font-weight-bolder">Prezime: @Model.Prezime</label>
        </div>
        <div class="form-group rounded-pill" style="position: center; margin-left: 25%; width: 50%; border-style: double; border-color: #761515; margin-top: 5px; background-color: white ">
            <label class="font-weight-bolder">Korisničko ime: @Model.KorisnickoIme</label>
        </div>
        <div class="form-group rounded-pill" style="position: center; margin-left: 25%; width: 50%; border-style: double; border-color: #761515; margin-top: 5px; background-color: white ">
            <label class="font-weight-bolder">Email: @Model.Email</label>
        </div>
        <div class="form-group rounded-pill" style="position: center; margin-left: 25%; width: 50%; border-style: double; border-color: #761515; margin-top: 5px; background-color: white ">
            <label class="font-weight-bolder">Broj telefona: @Model.BrojTelefona</label>
        </div>
            <button style="margin:10px" class="btn btn-primary btn-outline-dark" asp-controller="Autentifikacija" asp-action="Edit">Izmeni</button>
    </form>
</div>