@model IzmeniKupcaViewModel
  
<div class="rounded-pill" style="position: center; text-align: center; margin-top: 30px; border-style: groove; background-repeat: repeat-x; background-image: url(../slike/pozadina1.jpg) ">
    <form method="post" action="/Kupac/Edit">

        <div class="form-group" style="display: inline-flex; width: 50%; margin-top: 10px; margin-left: 130px; ">
            <label style=" position: static; margin: 10px " class="font-weight-bolder">Ime: </label>
            <input class="rounded-pill" style="position: static;margin:10px" type="text" asp-for="@Model.Ime" />
            <span class="text-danger font-weight-bolder" style="font-size: larger; position: relative; margin: 10px" asp-validation-for="Ime"></span>
        </div>
        <div class="form-group" style="display: inline-flex; width: 50%; margin-left: 68px">
            <label style="position: static;margin:10px" class="font-weight-bolder">Prezime: </label>
            <input class="rounded-pill" style="position: static;margin:10px" type="text" asp-for="@Model.Prezime" />
            <span class="text-danger font-weight-bolder" style="font-size: larger; position: relative; margin: 10px" asp-validation-for="Prezime"></span>
        </div>
        <div class="form-group" style="display: inline-flex; width: 50%; margin-right: 31px">
            <label style="position: static; margin: 10px;" class="font-weight-bolder">Korisnicko ime: </label>
            <input class="rounded-pill" style="position: static;margin:10px" type="text" asp-for="@Model.KorisnickoIme" />
            <span class="text-danger font-weight-bolder" style="font-size: larger; position: relative; margin: 10px" asp-validation-for="KorisnickoIme"></span>
        </div>
        <div class="form-group" style="display: inline-flex; width: 50%;">
            <label style="position: static;margin:10px; margin-left:65px" class="font-weight-bolder">Email: </label>
            <input class="rounded-pill" style="position: static;margin:10px" type="email" asp-for="@Model.Email" />
            <span class="text-danger font-weight-bolder" style="font-size: larger; position: relative; margin: 10px" asp-validation-for="Email"></span>
        </div>
        <div class="form-group" style="display: inline-flex; width: 50%;">
            <label style="position: static;margin:10px" class="font-weight-bolder">Broj telefona: </label>
            <input class="rounded-pill" style="position: static;margin:10px" type="text" asp-for="@Model.BrojTelefona" />
            <span class="text-danger font-weight-bolder" style="font-size: larger; position: relative; margin: 10px" asp-validation-for="BrojTelefona"></span>
        </div>
        <div class="form-group" style=" display: inline-flex; width: 50%;">
            <label style="position: static;margin:10px" class="font-weight-bolder">Stara lozinka: </label>
            <input class="rounded-pill" style="position: static;margin:10px" type="password" asp-for="@Model.StaraLozinka" />
            <span class="text-danger font-weight-bolder" style="font-size: larger; position: relative; margin: 10px" asp-validation-for="StaraLozinka"></span>
        </div>
        <div class="form-group" style="display: inline-flex; width: 50%;">
            <label style="position: static;margin:10px" class="font-weight-bolder">Nova lozinka: </label>
            <input class="rounded-pill" style="position: static;margin:10px" type="password" asp-for="@Model.NovaLozinka" />
            <span class="text-danger font-weight-bolder" style="font-size: larger; position: relative; margin: 10px" asp-validation-for="NovaLozinka"></span>
        </div>
        <div class="form-group" style="display: inline-flex; width: 50%; margin-left: 45%; height: 100px ">
            <div style="position: relative; margin:10px">
                <input class="btn btn-primary btn-outline-dark" style="position:static" type="submit" value="Sacuvaj promene" />
            </div>
            <div class="text-danger font-weight-bolder" style="position: relative; margin:10px; margin-left:40px" asp-validation-summary="ModelOnly"></div>
        </div>
    </form>
</div>